<form class="d-flex my-3" (ngSubmit)="addGoal()">

    <input type="text" class="form-control" placeholder="Add goal" [(ngModel)]="goal.description" name="description">
  
    <div class="priority">
      <label for="priority">Priority</label>
      <select name="priority" [(ngModel)]="goal.priority">
        <option class="low" value="low">Low</option>
        <option class="medium" value="medium">Medium</option>
        <option class="high" value="high">High</option>
      </select>
    </div>
  
  
    <button type="submit" class="btn btn-primary  mx-2">
      Add
    </button>
  
  
  </form>