<ul class="list-group gap-2">

    <li class="li-task {{goal.priority}}" 
        *ngFor="let goal of goalList , let i = index" (click)="editGoal(goal)">

      
        <span class="input-group-text">

            <input type="checkbox" 
                class="form-check" 
                name="{{goal.id}}" 
                [(ngModel)]="goal.completed"
                (change)="onGoalChecked(goal)"    
            >  

        </span>

        <div class="col text-truncate p-2" 
           [ngClass]="{ 'completed': goal.completed, '': !goal.completed }"
        >
            {{goal.description}}
        </div>

        <i class="bi bi-trash align-self-center btn btn-danger" (click)="onDeleteById(goal.id)"></i>

    </li>

</ul>
