<div class="container shadow p-3 rounded mt-3 bg-light ">

    <h1 class="text-center">{{title}}</h1>
    
    <!-- ADD GOAL -->
    <app-add-goal (onNewGoal)="onNewGoal($event)" (cheActualiza)="cheActualiza($event)"></app-add-goal>
    
    <!-- GOAL LIST -->    
    <app-list [goalList]="goalList" (onDeleteID)="onDeleteById($event)" ></app-list>

    <!-- FILTERS -->
    <div class="d-flex justify-content-between mt-3">
         <div class="d-flex gap-2">
        <button class="btn btn-secondary shadow" (click)="filterGoalsAll()">All Goals</button>
        <button class="btn btn-secondary shadow" (click)="filterGoalsCompleted()">Completed</button> 
        <button class="btn btn-secondary shadow" (click)="filterGoalsPending()">Pending</button>
    </div> 
    <div class="d-flex gap-2">
        <button class="btn btn-dark shadow" title="pagina laboratorio">▓</button>
    </div>
    </div>
   

</div>
